
<h1 class="center">Register New Application</h1>
<div class="row center">
    <div class="center set-content-max-width">
        <%= form_for @application, url: {action: "create"} do |f| %>
            <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class:"form-control", placeholder: "Enter app name" %>
            </div>
            <div class="form-group">
                <%= f.label :URL %>
                <%= f.text_field :URL, class:"form-control", placeholder: "Enter app URL" %>
            </div>
            <div class="form-group">
            <%= f.submit "Save", class: "btn btn-success" %>
            </div>
        <% end %>
    </div>
</div>
